
nav{
  text-align: center;
  }

body{
  font: bold 24px/45px Helvetica, Sans-Serif;
  background-color: lightgreen;
  padding:-10px;
}
ul{
  list-style-type:none;
  background-color:#f1f1f1;
}
li a{
  display:block;
  color: #000;
  padding:18px 16px;
  text-decoration: none;
  margin:-30px;
}
li a:hover{
  background-color:#555;
  color:white;
}
html,body{
  margin: 0;
  width:100%;
  padding:0;
  font-family: 'Playfair Display', serif;
}
.image{
  padding:-10px;
  margin-top:-7px;
  margin-bottom:-7px;
  height:100%;
  position:relative;

}
.footer{
  margin-bottom:-7px;
  height:100%;
  position:relative;

}
h2{  top: 20px;}
h2, h4{
  text-align: center;
  padding: 10px;
  color:white;
  position: absolute;
  left:0;
  width:100%;
}
h4{
  top:-3px;
}
h3{
  margin:0;
  padding:10px;
  position: absolute;

}
form{
  font-size:40px;
  color:brown;
  text-align: left;
}

footer{
  background-image: url('images/foot.png');
  font-size:20px;
  color:white;
  text-align:center;
  margin:-30px;
  padding:-10px;

}
