
nav{
  text-align: center;
/*  font-size:10px;*/
  }

body{
  font: bold 24px/45px Helvetica, Sans-Serif;
  background-color: lightgreen;
  padding:-10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
  background-color:#555;
  color:white;
}


html,body{
  overflow-x: hidden;
  margin:0;
  padding:0;
  font-family: 'Playfair Display', serif;
}
.image{
  padding:-10px;
  margin-top:-7px;
  margin-bottom:-7px;
  height:100%;
  position:relative;

}
.footer{
  margin-bottom:-7px;
  height:100%;
  position:relative;
}

section.twocolumn{
/*  border:solid;*/
}

h2{  top: 20px;}
h2, h4{
  text-align: center;
  padding: 10px;
  color:white;
  position: absolute;
  left:0;
  width:100%;
}
h4{
  top:-3px;
}
h3{
  margin:0;
  padding:10px;
  /*position: absolute;*/
/*  background-color: grey;*/
}
label{
  width:40%;
}
form{
  font-size:40px;
  color:darkgreen;
  text-align: left;
}

footer{
  background-image: url('images/foot.png');
  font-size:20px;
  color:white;
  text-align:center;
  margin:-30px;
  padding:-10px;

}
/* p.element{
  margin:10px;
  height:25%;
  width:25%;
  border:solid;
  float:right;
}*/

div.container{
  background-color: lightgreen;
  width: 100%;
  overflow: auto
}

p.onecolumn{
  float:right;
  width:100%;
  text-align: center;
}

p.twocolumn{
  float: left;
  width:49.5%;

}
p.threecolumn{
  float: left;
  width: 32.75%;

}
p.submit{
  text-align: center;
}
