section{
   overflow: auto;
  text-align: center;
  padding: 0;
  margin:0;
}
#nav{
  font-size:30px;
  background-color: lightblue;
}
p.one{
  width: 98%;
  margin: 0.5em ,1%;
}
p.lightgreen{
  background-color: lightgreen;
}
p.lightblue{
  background-color: lightblue;
}
p.two{
  float: left;
  width: 49%;
  margin: 0.5em, 1%;
}
p.thrid{
  float: left;
  width: 33.33%;
  margin: 0.5em, 1%;
}
p.pink{
  background-color: pink;
}
p.small{
  width: 30%;
  float: left;
}
p.big{
  width: 40%;
  float: left;
}
p.yellow{
  background-color: yellow;
}
p.purple{
  background-color: violet;
}
p.small-table{
  display: table-cell;
  width:40%;
}
p.big-table{
  display: table-cell;
}
#smallbigsmalltable{
  display: table;
  border: solid;
}
#smallbigsmall{
  border: solid;
}
#twocolom{
  border: solid;
}
#threecolom{
  border: solid;
}
#onecolom{
  border: solid;
}